/target
# Ignore everything
*

# But not the hydrogen folder
!hydrogen/
!hydrogen/**

# Also don't ignore these common files
!README.md
!.gitignore
!Cargo.lock
!src/main.rs
!src/octree.rs
!src/octree/particle.rs
!LICENSE
